@import 'assets/styles/variables.scss';
@import 'assets/styles/mixins.scss';

.root {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
}

.h1 {
    font-size: 6.4rem;
}

.h2 {
    font-size: 3.6rem;
}

.h3 {
    font-size: 2.4rem;
}

.h4 {
    font-size: 1.8rem;
}