@import 'assets/styles/variables.scss';
@import 'assets/styles/mixins.scss';

.root {
    background: $primary !important;
    max-width: 250px;
    color: #fff !important;
}

.linkContainer {
    display: flex;
    justify-content: flex-end;
}

.link {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: $secondary;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;

    @include hfa {
        outline: none;
        color: #fff;
        background: darken($color: $secondary, $amount: 10%)
    }

}